 
body,html{
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 100px 0px 100px;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1,8; 
    background-color: blueviolet;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;

}
 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
   text-decoration: none;
   color: black;
}

.nav-j{
    margin-left:1rem;
}
.partie{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

   
}
.image-container img{
    width: 310px;
    height:310px;
    object-fit: cover;
    border-radius: 150px;
    
    
}
.partie-right{
    width: 40px;
}

.partie-left{
    align-items: center;
    width: 310px;
    height: 310px;

}
 
header{
    flex-basis: 100;
    background-color: antiquewhite;
}

h1 ,p ,.button-AP {
    width: fit-content;
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
    background-color: white; 
    
    
}

.button-AP:hover{
  background-color: gray;
  
   
}

.img-container img{
    width: 310px;
    height:310px;
    object-fit: cover;
    border-radius: 100px;
    height: 50%;
    width: 50%;
   
}
#about{
 
    
}
.container-rigth img{
    border-radius: 50%;
    object-fit: cover;
}
 

.What-I{
    display: flex;
    flex-wrap: wrap;
}

.w1-left{
    width: 20%;
}
.w2-rigth{
    width: 80%;
    text-align: center;
}
.log img{
    border-radius:50px ;
}
.button-AP{
     
    box-shadow:0 .5rem 1rem rgba(grey);
 
}
.partie-left{
    position: relative;
    align-items: center;
}

header{
   flex-basis: 100%;
}

footer{
flex-basis: 100%;
}
main{
  flex-basis: 50%;
}
.content{
    flex-basis: 20%;
}

 