* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
   
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* En-tête */
.header {
  background-color: #fff;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  
}

 

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  background: cover;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul li {
 
  display: inline;
  padding:10px;
  
  
}

.nav-menu li a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition:  0.3s ease-in-out;
}
 

.logo img{
  object-fit: cover;
}


.nav-menu .menu-hamburger{
    display: none;
}

@media screen and (max-width:900px) {
  .nav-link {
     display: flex ;
     flex-direction: column;
     position: absolute;
     
  }
  
  .nav-menu .menu-hamburger{
    display: block;  
  }
  .nav-link {
    margin-left: -300%; 
    padding: 10px;
    backdrop-filter: blur(7px);
    width: 200px;
    height:200px;
    padding-top: 20px;
    background-color:rgba(218, 48, 48, 0.082);
  }

  .nav-link.mobile-menu {
    margin-bottom: 20px;
    margin-left:300px;
    margin-top: 200px;
    width:200px;
    height: 200px;
    
  }
  .nav-link.mobile-menu ul li {
    padding-top: 20px;
  }
  ul{
    padding: 10px;
  }
  
}

 
/* Home section */
.home {
  margin-top: 100px;
  display: block;
  padding: 100px 0;
  text-align: center;
  z-index: 0;
}
 
.home p { 
  font-size: 18px;
  margin-bottom: 30px;
}

.home-img img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 1em;

}

.home .row {
   
  display: flex;
  align-items: center;
}

/* Section about*/
.about {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  background-color: #f2f2f2 ;
}
 
.about p {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 50px;
  padding-right: 10em;
 
}
.about .row{
  display: flex;
  justify-content: space-between;
}


/* Section competence */

.competence-1 img{
  border-radius: 60;
  width:160px ;
  height:160px;
  object-fit: cover;
}


.competence h2{
  padding-top: 30px;
}

.competence-item {
  text-align: center;
  margin-bottom: 40px;
  padding: 30px 20px;
   
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.competence-item {
  font-size: 30px;
  color: #333333;
  margin-bottom: 20px;
  margin-top:30px ;
}

.competence-item h4 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.competence-item p {
  font-size: 14px;
  color: #999999;
  line-height: 1.6;
  margin-bottom: 0;
}
 
/* Section de service */
 
.services {
  display: flex;
}
.text-center h2{
  padding-top: 30px;
}
 .services {
  justify-content: center;
  border-radius: 20px;
  display: flex;
  margin-bottom: 40px;
  }
 
.services-item {
  
  margin-bottom: 20px;
  width: 280px;
  height:300px;
  background-color:white;
}

.text-center{
 width: 300px;
 height: 100px;
 border-radius: 60px;
}

.services-item{
  padding: 10px;
  border-radius: 20px;
}
.services-item img{
  text-align: center;
  border-radius: 20px;
}
 

 
/*contact-->*/

.contact .container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


 


/* Section footer */
#footer {
 
  color: #fff;
  padding: 50px 0;
}

#footer p {
  font-size: 1.1rem;
  line-height: 1.8;
}

#footer .social-icons {
  margin-top: 30px;
}

#footer .social-icons a {
  font-size: 1.5rem;
  margin-right: 20px;
  color: #fff;
   
}
 
 